div.main_interface{
    padding-top: 112px;
    text-align: center;
}

/* Common style between submit buttons */
.button, .adv_button{
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 3px;
}
.button{
    background-color: rgba(240, 240, 240, 0.945);
    color: rgba(0, 0, 0, 0.716);
    padding: 10px 16px;
    display: inline-block;
    font-size: 14px;
    margin: 10px 2px;
    cursor: pointer;
}
input.button:hover{
    background-color: rgb(245, 245, 245, 0.945);
}
input.button:focus{
    box-shadow: 0 0 1px 1px rgba(106, 108, 238, 0.993);
    outline: none;
}
input.button:hover, input.search:hover{
    border: 1px solid rgb(170, 170, 170, 0.55);
    color: black;   
}
input.search{
    background-image: url("search_icon.png"), url("mic_icon.png");
    background-size: 19px, 14px;
    background-position: 13px 13px, 560px 11px;    
    background-repeat: no-repeat;

    padding-left: 40px;
    padding-right: 60px;
    border: 1px solid rgba(220, 220, 220, 1);
    height: 43px;
    width: 490px;
    border-radius: 110px;
    margin: 3px;    
}

input.search:focus{
    outline: none;
}
input.search:hover{
    box-shadow: 0px 0px 4px 1px #cccccc;
}

.link_top_right:hover{
    text-decoration: underline;
    color: rgb(129, 129, 129);
}
.link_top_right{
    margin-left: 1170px;
    color: rgba(0,0,0,0.87);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/*All style definied below are applied only to google_advanced_search.html page*/

/* Page header*/
div#header{
    height: 72px;
    background-color: rgb(240, 240, 240);
    margin: -20px;
    margin-right: 2px;
    padding-left: 20px;
}
h2#adv_srch_header
{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(209, 54, 54);
    font-family: arial,sans-serif;
    font-weight: 100;
    font-size: 20px;
}

/* Body of the page*/
.FPW{
    padding-left: 38px;
    padding-top: 30px;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: 100;
    cursor: text;
}
#adv_form_grid{
    padding-left: 23px;
    padding-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 180px 574px auto;
    column-gap: 15px;
    row-gap: 14px;
    /*background-color: lightseagreen;
    border: 2px solid black;*/
}
.adv_input, .adv_input_NRF{ 
    width: 100%;    
    height: 28px;
    border: 1px solid rgb(209, 209, 209);
}
.adv_input:focus, .adv_input_NRF:focus{
    outline: none;
    border: 1px solid rgba(106, 108, 238, 0.993);
    padding: 10px;
    box-shadow: 0px 1px 3px -1px rgb(107, 107, 107) inset;
}
.adv_label_left, .link_left_labels{
    font-family: arial,sans-serif;
    font-size: 13px;
    margin: 15px;
}
.adv_label_right{
    font-family: arial, sans-serif;
    font-size: 11px;
    cursor: text;
    opacity: .9;
}
.adv_input_NRF{
    width: 45.5%;
}
.adv_list_of_options{
    border: 1px solid rgb(209, 209, 209);
    background-color: rgb(243, 243, 243);
    font-weight: bolder;
    font-size: 11px;
    padding-left: 10px;
    height: 27px;
    width: 555px;
    border-radius: 3px;
}
.adv_list_of_options::placeholder{
    color: black;
    opacity: .85;
}
input::-webkit-calendar-picker-indicator{
    opacity: .5;
    height: 5px;
 }
.adv_list_of_options:hover{
    background-color: rgb(245, 245, 245, 0.945);
    border: 1px solid rgba(134, 133, 133, 0.55);
    cursor: default;
}
.adv_list_of_options:focus{
    background-color: rgba(218, 216, 216, 0.55);
    outline: none;
    border: 1px solid rgba(106, 108, 238, 0.993);
}
.link_left_labels{
    text-decoration: none;
    color: rgba(4, 34, 204, 0.993);
}
.link_left_labels:hover{
    text-decoration: underline;
}
/* Advanced search button*/
.adv_button{
    background-color: rgba(94, 146, 243, 0.993);
    color: white;
    height: 30px;
    width: 120px;
    font-size: 11px;
    font-weight: bold;  
    margin-left: 650px;
}
.adv_button:hover{
    background-color: rgba(90, 142, 239, 0.993);
}
.adv_button:focus{
    box-shadow: 0 0 0pt 3pt blue;
}
